.chat-2-desk-popup-show {
  position: absolute;
  bottom: 24px;
  right: 24px;
  height: 48px;
  width: 48px;
}

.chat-2-desk-popup-show svg {
  height: 48px;
  width: 48px;
}

@media all and (min-width: 47.9385em) {
  .chat-2-desk-popup-show {
    height: 60px;
    width: 60px;
  }

  .chat-2-desk-popup-show svg {
    height: 60px;
    width: 60px;
  }
}
